@use "../helpers/index" as *;

.scrollbar {
  --scrollbarWidth: #{rem(16)};
  --scrollbarContentOffset: #{rem(4)};

  padding-right: calc(var(--scrollbarWidth) + var(--scrollbarContentOffset));

  &:focus-within, 
  &:hover {
    filter: none;
    
    .ps__thumb-y {
      background-color: var(--color-state-active);
    }
  }

  &:focus-within:has(.ps__thumb-y:focus-visible)  {
    .ps__thumb-y {
      opacity: 0.5;
    }
  }

  .ps__rail-y.ps--clicking .ps__thumb-y {
    width: calc(var(--scrollbarWidth) - rem(2));

    background-color: var(--color-state-active);
    filter: var(--focus-visible);
  }

  .ps__rail-y {
    width: var(--scrollbarWidth);

    background-color: var(--color-containers) !important;

    opacity: 1 !important;

    &:hover {
      .ps__thumb-y {
        width: calc(var(--scrollbarWidth) - rem(2));

        background-color: var(--color-state-active);
      }
    }
  }

  .ps__thumb-y {
    right: 50%;
    translate: 50% 0%;

    width: calc(var(--scrollbarWidth) - rem(2));

    border: var(--outline);
    border-radius: var(--border-radius-big);
    background-color: var(--color-background);

    opacity: 1;

    transition-property: filter, background-color;
    transition-duration: var(--transition-duration);

    &:hover {
      filter: var(--focus-visible);
    }
  }

  // &:focus-within, 
  // &:hover {
  //   .simplebar-scrollbar::before {
  //     background-color: var(--color-state-active);
  //   }
  // }

  // &:focus-within:has(.simplebar-content-wrapper:focus-visible)  {
  //   .simplebar-scrollbar::before {
  //     filter: var(--focus-visible);
  //     background-color: var(--color-state-active);
  //   }
  // }

  // .simplebar-scrollbar {
  //   transition-property: filter;
  //   transition-duration: var(--transition-duration);

  //   &::before {
      // top: 0;
      // bottom: 0;
      // left: auto;
      // right: 50%;
      // translate: 50% 0;

      // width: calc(var(--scrollbarWidth) - rem(2));

      // border: var(--outline);
      // border-radius: var(--border-radius-big);
      // background-color: var(--color-background);

      // opacity: 1;

      // transition-property: filter, background-color;
      // transition-duration: var(--transition-duration);
  //   }
  // }

  // .simplebar-vertical.simplebar-hover .simplebar-scrollbar.simplebar-hover,
  // &.simplebar-dragging .simplebar-vertical .simplebar-scrollbar {
  //   &::before {
  //     filter: var(--focus-visible);
  //   }
  // }

  // .simplebar-track.simplebar-vertical {
  //   width: var(--scrollbarWidth);
 
  //   background-color: var(--color-containers);
  // }

  // .simplebar-content-wrapper {

  //   padding-right: calc(var(--scrollbarWidth) + var(--scrollbarContentOffset));

  //   &:focus-visible {
  //     outline: none;
  //   }
  // }
}