@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! \
        Передавайте аргументом только числа.'
  }
}

@function fluid(
  $max,
  $min,
  $max-viewport: 1728, 
  $min-viewport: 390,
) {
  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  
  $maxWidth: math.div($max-viewport, 16);
  $minWidth: math.div($min-viewport, 16);

  $clampMin: if($minSize < $maxSize, $minSize, $maxSize);
  $clampMax: if($minSize < $maxSize, $maxSize, $minSize);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: $minSize - $slope * $minWidth;
  $slopeVw: $slope * 100;

  @return clamp(
    #{$clampMin}rem,
    calc(#{$yAxisIntersection}rem + #{$slopeVw}vw),
    #{$clampMax}rem
  );
}