@use 'helpers' as *;

body {
  display: flex;
  flex-direction: column;
  width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  padding-block: var(--container-padding-y);

  font-family: var(--font-family-base);
  font-size: rem(14);
  font-weight: 400;
  line-height: var(--line-height-xl-alt);
  color: var(--color-muted);
  letter-spacing: var(--letter-spacing-sm);

  background-color: var(--color-background);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
}

main {
  flex-grow: 1;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-default);
}

:where(a, button, label, input, textarea, select, svg *) {
  outline-color: var(--outline-color);
  outline-offset: 0;

  transition-duration: var(--transition-duration);
}

:is(a, ul, button, input, textarea, summary, svg *):focus-visible {
  outline: var(--outline);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

h1,
.h1 {
  color: var(--color-default-foreground);
  font-size: rem(16);
  line-height: var(--line-height-xxl);
  font-weight: 600;
}
