@use 'sass:math';

/*
  В firefox баг: свойство scale с calc() не работает, если в выражении есть числа с единицами 
  измерения. Поэтому храним значение переменной и с px, и без.
*/
$controlSizeSass: 16;
$extraSize: if(sass($controlSizeSass % 2 == 0): 1; else: 0);

.radio {
  --controlSize: #{$controlSizeSass * 1px};
  --controlSizeUnitless: #{$controlSizeSass};
  --controlIndicatorSize: #{math.div($controlSizeSass, 2) + $extraSize};
  --controlIndicatorSizeActive: #{math.div($controlSizeSass, 2) - math.div($controlSizeSass, 8) +
    $extraSize};

  display: flex;
  gap: toRem(12);

  cursor: pointer;

  @include ensure-click-area(null);

  transition: initial;

  &__control {
    position: relative;

    display: flex;
    margin-top: toRem(2);
    @include square(var(--controlSize));

    outline: var(--border-field);
    outline-offset: calc(var(--border-width) * -1);
    box-shadow: var(--box-shadow);
    background: var(--color-field-background);
    border-radius: 50%;

    appearance: none;
    cursor: pointer;

    transition-property: background-color, outline-color, box-shadow;
    transition-duration: var(--transition-duration);

    &::before,
    &::after {
      @include abs-center;

      content: '';
      @include square(var(--controlSize));
    }

    &::before {
      border-radius: 50%;

      transition-duration: var(--transition-duration);
    }

    &::after {
      scale: 0;

      border-radius: 50%;
      box-shadow: 0 toRem(1) toRem(1) 0 rgba(0, 0, 0, 0.05);
      background-color: var(--color-snow);

      transition-duration: var(--transition-duration);
    }

    @include hover {
      outline-color: var(--color-border-hover);
      background-color: var(--color-field-background-hover);

      &:checked::before {
        background-color: var(--color-accent-hover);
      }
    }

    &:checked,
    &:active {
      outline-color: transparent;
      box-shadow: var(--box-shadow-alt);
    }

    &:checked {
      background-color: transparent;
      box-shadow: var(--box-shadow-alt);

      &::before {
        z-index: -1;

        @include square(var(--controlSize));
        background-color: var(--color-accent);
      }

      &::after {
        @include scale-to-size(var(--controlSizeUnitless), var(--controlIndicatorSizeActive));
      }
    }

    &:checked:active::after {
      @include scale-to-size(var(--controlSizeUnitless), var(--controlIndicatorSize));
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
      box-shadow: none;

      transition: none;
    }
  }

  &__descriptions {
    display: flex;
    flex-direction: column;

    user-select: none;
  }

  &__secondary-description {
    font-weight: 400;
    font-size: toRem(12);
    color: var(--color-muted);
    line-height: var(--line-height-lg-alt);

    transition-duration: var(--transition-duration);
  }

  &__main-description {
    font-weight: 500;
    font-size: toRem(14);
    color: var(--color-default-foreground);
    line-height: var(--line-height-xl-alt);

    transition-duration: var(--transition-duration);
  }
}
