.switch {
  --switchControllerWidth: #{rem(32)};
  --switchControllerHeight: #{rem(16)};

  --switchInputThumbOffset: #{rem(2)};
  --switchInputIconOffset: calc(var(--switchInputThumbOffset) + #{rem(4)});

  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  &__controller {
    @include hover(itself, after) {
      .switch__input {
        background-color: var(--color-default-hover);

        &:checked {
          background-color: var(--color-accent-hover);
        }
      }
    }

    &:active {
      .switch__input {
        background-color: colorToOpacity(
          var(--opacity),
          var(--color-default-hover)
        );
      }
      .switch__input:checked {
        background-color: colorToOpacity(var(--opacity), var(--color-accent));
      }
    }

    &-inner {
      position: relative;

      display: grid;
      grid-template-columns: var(--switchControllerWidth) 1fr;
      grid-template-rows: repeat(2, auto);
      align-items: center;
      justify-content: flex-start;
      column-gap: var(--spacing);
      grid-template-areas:
        "input main-description"
        ". secondary-description";

      cursor: pointer;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    translate: var(--switchInputIconOffset) -50%;
    z-index: 1;

    display: flex;
    place-items: center;
    @include square(rem(8));

    transition-property: translate;
    transition-duration: var(--transition-duration);

    &:has(+ .switch__input:checked) {
      translate: calc(
          var(--switchControllerWidth) - var(--switchInputIconOffset) - 100%
        ) -50%;
    }
  }

  &__input {
    position: relative;

    width: var(--switchControllerWidth);
    height: var(--switchControllerHeight);
    grid-area: input;

    border-radius: var(--border-radius-4xl);
    background-color: var(--color-default);

    appearance: none;
    cursor: pointer;

    transition-property: background-color, opacity;
    transition-duration: var(--transition-duration);

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      translate: var(--switchInputThumbOffset) -50%;

      content: "";
      width: rem(16);
      height: rem(12);

      border-radius: var(--border-radius-4xl);
      background-color: var(--color-snow);
      box-shadow: var(--box-shadow);

      transition-property: translate, box-shadow, opacity;
      transition-duration: var(--transition-duration);
    }

    &:checked {
      background-color: var(--color-accent);

      &::before {
        translate: calc(
            var(--switchControllerWidth) - var(--switchInputThumbOffset) - 100%
          ) -50%;

        box-shadow: var(--box-shadow-inner);
      }
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }

    &:active {
      background-color: colorToOpacity(
        var(--opacity),
        var(--color-default-hover)
      );

      &:checked {
        background-color: colorToOpacity(var(--opacity), var(--color-accent));
      }
    }
  }

  &__main-description,
  &__secondary-description {
    user-select: none;
  }

  &__main-description {
    grid-area: main-description;

    font-weight: 500;
    font-size: rem(14);
    color: var(--color-default-foreground);
    line-height: var(--line-height-xl-alt);

    transition-property: color;
    transition-duration: var(--transition-duration);
  }

  &__secondary-description {
    grid-area: secondary-description;

    font-weight: 400;
    font-size: rem(12);
    color: var(--color-muted);
    line-height: var(--line-height-lg-alt);

    transition-property: color;
    transition-duration: var(--transition-duration);
  }

  &__content {
    margin-left: calc(var(--switchControllerWidth) + var(--spacing));
  }

  &__required-content {
    transition-property: color;
    transition-duration: var(--transition-duration);
  }
}
