:root {
  color-scheme: dark;

  --color-background: #333333;
  --color-shadow: #333333;
  --color-borders: #4D4D4D;
  --color-containers: #262626;
  --color-state-active: #ffffff;
  --color-state-inactive: #BFBFBF;
}