@use '../helpers/index' as *;

:root {
  // Темы
  color-scheme: dark light;

  &.is-dark {
    color-scheme: dark;
  }
  &.is-light {
    color-scheme: light;
  }

  // Цвета
  --color-accent: light-dark(#c62828, #d32f2f);
  --color-accent-hover: light-dark(#b71c1c, #e53935);

  --color-default: light-dark(#ebebec, #27272a);
  --color-default-hover: light-dark(#e1e1e2, #2e2e31);
  --color-default-foreground: light-dark(var(--color-eclipse), var(--color-snow));
  --color-muted: light-dark(var(--color-zinc-500), var(--color-zinc-400));
  --color-segment: light-dark(rgba(255, 255, 255, 1), rgba(230, 235, 255, 0.16));

  --color-background: light-dark(#f5f5f5, #060607);
  --color-background-secondary: light-dark(#ebebeb, #0c0c0e);

  --color-border: light-dark(#dedede, #28282c);
  --color-border-hover: light-dark(#c1c1c1, #464646);

  --color-shadow-inner: light-dark(
    color-mix(in srgb, var(--color-white) 3%, transparent),
    color-mix(in srgb, #eda2a24 3%, transparent)
  );

  --color-field-background: light-dark(var(--color-white), var(--color-eclipse));
  --color-field-background-hover: light-dark(
    color-mix(in srgb, #f9f9f9 92%, transparent),
    color-mix(in srgb, #1c1c1f 92%, transparent)
  );
  --color-field-shadow: light-dark(
    color-mix(in srgb, var(--color-black) 4%, transparent),
    color-mix(in srgb, var(--color-white) 4%, transparent)
  );
  --color-field-shadow-alt: light-dark(
    color-mix(in srgb, var(--color-black) 6%, transparent),
    color-mix(in srgb, var(--color-white) 4%, transparent)
  );

  --color-separator-secondary: light-dark(#d7d7d7, #353538);
  --color-separator-tertiary: light-dark(#cdcdce, #3c3c3f);

  // Границы
  --border-field: var(--border-width) solid var(--color-border);
  --border-field-hover: #{toRem(1)} solid var(--color-border-hover);
  --border-field-focus: #{toRem(1)} solid var(--color-field-background);

  // Контур
  --outline-color: var(--color-accent);
  --outline: var(--outline-size) solid var(--outline-color);

  // Отступы
  --spacing: var(--container-padding-y);
  --spacing-xs: calc(var(--spacing) / 2);

  // Тени
  --box-shadow:
    0 0 #{toRem(1)} 0 var(--color-field-shadow-alt),
    0 #{toRem(1)} #{toRem(2)} 0 var(--color-field-shadow-alt),
    0 #{toRem(2)} #{toRem(4)} 0 var(--color-field-shadow), inset 0 0 0 0 var(--color-accent);
  --box-shadow-alt:
    0 0 #{toRem(1)} 0 var(--color-field-shadow-alt),
    0 #{toRem(1)} #{toRem(2)} 0 var(--color-field-shadow-alt),
    0 #{toRem(2)} #{toRem(4)} 0 var(--color-field-shadow),
    inset 0 0 0 #{toRem(2)} var(--color-accent-hover);
  --box-shadow-inner:
    0 0 #{toRem(5)} 0 rgba(0, 0, 0, 0.02),
    0 #{toRem(2)} #{toRem(10)} 0 var(--color-field-shadow-alt),
    0 0 #{toRem(1)} 0 var(--color-shadow-inner);
}
